//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************


@brand-primary:                 #CD1719;
@brand-secondary:               #929292;

@viking-color-primary:        #CD1719;

//Grayscale
@viking-color-grayscale-0:    #fff;
@viking-color-grayscale-10:     darken(#fff, 10%);//#f2f0f0
@viking-color-grayscale-20:     darken(#fff, 20%);
@viking-color-grayscale-30:     darken(#fff, 30%);
@viking-color-grayscale-40:     darken(#fff, 40%);
@viking-color-grayscale-50:     darken(#fff, 50%);
@viking-color-grayscale-60:     darken(#fff, 60%);
@viking-color-grayscale-70:     darken(#fff, 70%);
@viking-color-grayscale-80:     darken(#fff, 80%);
@viking-color-grayscale-90:     darken(#fff, 90%);
@viking-color-grayscale-100:  #000;

//Viking brand colours
@viking-color-dark:             #07252f;
@viking-color-turquoise-dark:   #005968;
@viking-color-turquoise-mid:    #41a0a9;
@viking-color-turquoise-light:  #97cbd0;
@viking-color-blue-dark:        #00476e;
@viking-color-blue-mid:         #1f7698;
@viking-color-blue-light:       #70c2da;
@viking-color-grey-dark:        #505a69;
@viking-color-grey-mid:         #8c96a0;
@viking-color-grey-light:       #c3cdd7;

//Viking signal colours
@viking-signal-red:             #cd1619;
@viking-signal-orange:          #ee7330;
@viking-signal-yellow:          #dcd637;
@viking-signal-green:           #2b8852;

//Viking layout colours
@viking-grey-mid:               #e0e0e0;
@viking-grey-light:             #efefef;

@grayblue:                      #F2F4F7;


//*********Typography Colors*********
@text-color:                    #3c3c3c;
@text-color-secondary:            @brand-secondary;
@link-color:                      @viking-color-turquoise-mid;
@headline-color:                  @text-color;

//== Borders
@border-color:                  #b3b3b3;
@border-color-2:                #e5e5e5;
@border-color-3:                #cccccc;


//*********form colors*********
@label-color:                     @brand-secondary;

@input-color:                     @text-color;
@input-border-color:              @border-color-3;
@placeholder-color:               @brand-secondary;
//** Border color for inputs on focus
@input-border-focus:              @brand-primary;
//** Border color for inputs on error
@input-error:                   #fd7b7b;
//** Background color for inputs on error
@input-error-bg:                #fec3c3;
//** color for error text
@input-error-text:              #ED1C24;

@input-success:                   @border-color-3;
@input-success-bg:                transparent;
@input-success-text:            #00A651;


//*********Header Background*********
@header-background-color:         #fff;
@nav-border-color:                @border-color;


//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color:                  @viking-color-grey-light; // do not commit
@meta-nav-color-open:           #000;
@meta-nav-hover-color:            @brand-secondary;
@meta-nav-border-color:           @viking-color-grey-light;
@meta-nav-background:             @viking-color-grayscale-10;
@meta-nav-hover-background:       @viking-color-grayscale-20;


//*********Search*********
@searchbar-icon-color:            @text-color;
@check-box-bg:                  #ffffff;

//********* icon navigation colors*********
@nav-icon-color:                  @viking-color-grey-dark;
@nav-icon-color-secondary:        @viking-color-blue-dark;
@nav-icon-hover-background:       @border-color-2;


//*********Header Navigation-Categories Background*********
//@nav-cat-background: #142939;
@nav-cat-background:              @viking-color-dark;
@nav-cat-border:                  @viking-color-grey-light;
@nav-cat-hover-background:        @viking-color-grey-dark;
@nav-cat-link-color:            #ffffff;
@nav-subcat-color:                lighten(@text-color, 20%);
@nav-subcat-title-color:        rgba(0,0,0,0.6);
@nav-subcat-background:           @viking-color-grayscale-10;
@nav-subcat-border-color:         @border-color-2;
@nav-subcat-hover-background:     @border-color-2;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color:      @meta-nav-background;
@offcanvas-nav-header-background: #ffffff;
@offcanvas-nav-disabled:          @brand-secondary;
@offcanvas-meta-nav-color:      #ffffff;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background:   @meta-nav-background;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color:         @meta-nav-background;
@offcanvas-nav-cat-title-color: rgba(0,0,0,0.7);
@offcanvas-nav-cat-background:  #ffffff;
@offcanvas-nav-cat-border-color:  @border-color-2;
@offcanvas-nav-cat-hover-background: @border-color-2;


//*********Breadcrumbs Colors*********
@breadcrumb-bg:                   #fff;


//*********Footer colors*********
@footer-background:               @viking-color-grayscale-10;
@footer-text-color:               @viking-color-dark;
@footer-border-color:             @nav-cat-hover-background;
@copyright-background:            @viking-color-grayscale-10;
@copyright-color:                 @viking-color-grayscale-100;
@copyright-link-color:            @copyright-color;

//*********Well colors*********
@well-secondary-bg:               lighten(@brand-primary, 60%);//#e6f0fa;
@well-quaternary-bg:            #f2f2f2;

//Item colors
@item-promo-color:              #00A651;
@item-sale-color:               #ED1C24;
@item-sale-price-color:           @brand-secondary;



//== Tables
@table-2n-line-bg:              #f4f4f4;
@table-head-bg:                   @nav-cat-background;
@table-head-color:              #dcdcdc;
@table-head-border-color:       #334b5c;
@table-border-color:              @border-color-2;
@table-expand-bg:               #e4e4e4;
@cart-product-table-head-color:   @table-expand-bg;


//== List
@list-active-bg:                #e6f0fb;


//== Pagination
@pagination-active-color:       #a6a6a6;
@pagination-font-weight:          600;

@pagination-disabled-color:       @pagination-active-color;
@pagination-hover-color:          @pagination-active-color;

@pagination-prev-next-hover-bg:   @btn-primary-bg;
@pagination-prev-next-hover-color:  @btn-primary-color;


//*********Button Colors*********

//Primary Button State
@btn-primary-color:             #ffffff;
@btn-primary-bg:                  @viking-color-turquoise-mid;
@btn-primary-border:              @viking-color-turquoise-mid;
@btn-primary-hover-color:       #ffffff;
@btn-primary-hover-border:        @viking-color-turquoise-mid;
@btn-primary-hover-background:    @viking-color-turquoise-mid;
@btn-primary-disabled-bg:       @viking-color-grey-mid;

//Secondary Button State
@btn-default-color:             #ffffff;
@btn-default-bg:                  @viking-color-turquoise-dark;
@btn-default-border:              @viking-color-turquoise-dark;
@btn-default-hover-color:         #ffffff;
@btn-default-hover-border:        @viking-color-turquoise-dark;
@btn-default-hover-background:    @viking-color-turquoise-dark;
@btn-default-disabled-bg:         @viking-color-grey-light;

//*********Accordion Colors*********
@accordion-bg:                  #000000;

//*********Modal Colors*********
@modal-close-btn-color:         #999999;

//*********Account Colors*********
@account-subheadline-bg:          @viking-grey-light;

//*********checkout*********
@steps-color:                     @text-color;
@steps-background:                @viking-grey-light;
@steps-color-active:              @steps-color;
@steps-background-active:       #e4e4e4;
@steps-border-active:             @border-color-3;
@checkout-icon:                   @border-color-3;
@checkout-list-head-bg:           @table-head-bg;
@checkout-list-head-color:      #ffffff;
@checkout-list-head-border:       @table-head-bg;


//*********Coupon Colors*********
@coupon-list-item-border:         @border-color-3;
@coupon-list-item-bg:             @table-2n-line-bg;
@coupon-list-item-remove-icon:  #cdcdcd;


// fonts
@font-family-sans-serif:          Verdana, Helvetica, Arial, sans-serif;
@font-family-serif:               Georgia, "Times New Roman", Times, serif;
@font-family-base:                @font-family-sans-serif;
@font-size-base:                  14px;

@font-size-h3:                    21px;
