@import "../../../../shared/less/generatedVariables.less";
@import "../../../../shared/less/variableMapping.less";

@font-face {
    font-family: 'frutiger_boldregular';
    src: url('../fonts/ftb-webfont.woff2') format('woff2'),
         url('../fonts/ftb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerlight_cn';
    src: url('../fonts/ftlc-webfont.woff2') format('woff2'),
         url('../fonts/ftlc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutiger_ultra_blackregular';
    src: url('../fonts/ftubl-webfont.woff2') format('woff2'),
         url('../fonts/ftubl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import "theme-variables.less";
