html,
body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.main__inner-wrapper,
.breadcrumb-section > .breadcrumb {
  .container;
}

.breadcrumb-section > .breadcrumb {
  margin: auto;
  padding: 10px;
}

.breadcrumb > li + li:before {
  content: '\203A';
}

.form-control {
  box-shadow: none;
}

#accNavComponentDesktopOne ul.nav__links li,
#accNavComponentDesktopTwo ul.nav__links li {
  border-bottom: 0;
  border-right-color: @viking-color-grayscale-20;

  &:nth-child(3n+1) {
    border-left: 0;
  }

  &:first-child {
    border-left: 1px solid @viking-color-grayscale-20;
  }

  a {
    padding: 15px;
    text-align: center;
  }
}

@media (min-width: @screen-md) {
  .navigation--top .nav__left {
    padding: 0;

    h1 {
      text-indent: -9999rem;
    }
  }

  .navigation--top .nav__right .nav__links--account .logged_in,
  .navigation--top .nav__right .nav__links--account .myAccountLinksHeader,
  .navigation--top .nav__right .nav__links--account .myCompanyLinksHeader {
    padding: 6px;
  }

  .navigation--top .nav__right .nav__links--account .myAccountLinksHeader:not(.show),
  .navigation--top .nav__right .nav__links--account .myCompanyLinksHeader:not(.show) {
    line-height: 27px;
  }

  .navigation--middle {
    border-top: 0;

    .nav__left .site-search .input-group {
      border-color: @viking-color-grayscale-10;
    }
  }

  .navigation--bottom .nav__links--primary .sub__navigation {
    border: 0;
    border-bottom: 1px solid @border-color;
    box-shadow: none;
  }

  .navigation__overflow {
    padding: 0 10px;
  }

  .main__inner-wrapper {
    transform: translateX(-10px);
  }

  .site-logo__container {
    padding-bottom: 30px;
    padding-left: 5px;
  }

  .product-list-right-component {
    padding-right: 20px;
  }

  .product-grid-left-refinements-component {
    margin-top: 160px;
  }

  // Override of main navigation style
  .nav__links--primary-has__sub.show-sub > .sub__navigation {
    left: auto !important;
    right: auto !important;
    width: auto !important;

    > .row {
      display: flex;
      flex-direction: column;
      max-height: calc(~"100vh - 150px - 2rem");
      overflow-x: none;
      overflow-y: auto;
      width: 250px !important;
    }

    .sub-navigation-section > .title + .sub-navigation-list {
      padding-bottom: 0;

      > .title + .sub-navigation-list {
        padding-bottom: 20px;
      }
    }
  }
}

@media (max-width: @screen-md) {
  .main__inner-wrapper {
    padding: 0 10px;
  }

  .navigation--middle .nav__left {
    padding-left: 0;
    padding-right: 0;
  }

  .navigation--bottom .nav__links--products li a {
    color: #000;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  .navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span,
  .sticky-nav-top .userSign,
  .navigation--bottom .nav__links--primary-has__sub .nav__link--drill__down {
    color: #000;
  }

  .navigation--bottom .nav__links--primary .sm-back {
    color: @viking-color-primary;
  }

  .navigation--bottom .nav__links--primary .sub-navigation-section .title a {
    color: #000;
    font-weight: bold;
  }
}

.navigation--middle {
  .nav-order-tools:hover,
  .nav-location:hover,
  .nav-cart:hover,
  .btn:hover,
  .nav-order-tools:active,
  .nav-location:active,
  .nav-cart:active,
  .btn:active,
  .nav-order-tools:focus,
  .nav-location:focus,
  .nav-cart:focus,
  .btn:focus {
    background-color: transparent;
    color: @viking-color-turquoise-mid;
  }
}

footer {
  padding-top: 25px;
}

.footer__top {
  padding: 20px 0;
}

.footer__copyright {
  &::before {
    display: none;
  }

  .site-footer__standout {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .site-footer__company-info {
    font-size: 12px;
  }
}

.footer__left h3.title {
  font-size: 14px;
}

.footer__top .footer__nav--container {
  margin-bottom: 40px;

  .footer__nav--links a {
    font-size: 12px;
  }
}


.product__facet .facet {
  padding: 23px 30px 30px 0px;

  &::before, &::after {
    display: none;
  }

  .facet__name {
    color: @viking-color-primary;
    font-size: 16px;
    margin-left: 0;

    .glyphicon {
      display: none;
    }
  }
}

.product__list--wrapper {
  margin: 0;

  .pagination-wrap {
    float: right;
    padding-right: 10px;
  }
}

.pagination-bar {
  margin: 20px 0 60px;

  &.top {
    margin-bottom: 30px;
  }

  .pagination-toolbar {
    border-bottom: 0;
    padding: 0;
  }

  .pagination-bar-results {
    padding: 0;
  }
}

.pagination-bar.bottom .pagination-toolbar {
  border-top: 0;
  padding-top: 0;
}

.product__listing.product__grid .product-item:first-child {
  margin-left: initial;
}

.product__listing.product__grid {
  justify-content: flex-start;
  margin: -10px;

  .product-item {
    @media (max-width: @screen-sm) {
      width: 100%;
    }

    @media (max-width: @screen-md) and (min-width: @screen-sm) {
      width: calc(~"50% - 20px");
    }

    @media (max-width: @screen-lg) and (min-width: @screen-md) {
      width: calc(~"33.333% - 20px");
    }

    @media (min-width: @screen-lg) {
      width: calc(~"25% - 20px");
    }
  }
}

.product-item {
  border: 1px solid @viking-color-grayscale-10 !important;
  box-shadow: none !important;
  float: initial !important;
  margin: 10px !important;
  padding: 20px !important;

  &:hover {
    border-color: @viking-color-grayscale-50 !important;
    box-shadow: none !important;
  }

  .addtocart .btn {
    background-color: transparent !important;
    border-width: 2px !important;

    &::before {
      color: @viking-color-turquoise-mid !important;
    }

    &:hover::before {
      color: @viking-color-turquoise-dark !important;
    }
  }
}

.product__listing .addtocart {
  display: none !important;
}

.product-grid-left-refinements-component {
  border-top: 0 !important;
}

.product-grid-right-result-slot {
  padding: 0 10px !important;

  h2 {
    margin: 60px 0 90px;
    &.seo-block{
      margin-bottom: 40px;
    }
  }
}

.page-details-variants-select {
  text-align: right;
}

.page-details-variants-select-component {
  margin-top: 20px;

  .variant-name {
    color: #000;
    text-transform: none;
  }
}


.page-homepage .carousel .item,
.page-productDetails .carousel .item,
.page-homepage .carousel__component--carousel .item,
.page-productDetails .carousel__component--carousel .item,
.page-homepage .carousel .carousel__item,
.page-productDetails .carousel .carousel__item,
.page-homepage .carousel__component--carousel .carousel__item,
.page-productDetails .carousel__component--carousel .carousel__item {
  &,
  &:hover {
    border: 0;
    box-shadow: none;
    padding: 0;
  }
}

.product-main-img .gallery-carousel .owl-item {
  border-color: @viking-color-grayscale-10;
  margin: 5px;
  height: 110px;
  width: 110px !important;
  vertical-align: middle;

  &:hover {
    border-color: @viking-color-grayscale-60;
  }
}

.product-stock-status .stock-selector {
  border: 1px solid @viking-color-grayscale-10;
  border-radius: 0;
}

.qty-selector {
  + .actions {
    @media (min-width: @screen-md) {
      margin-left: 20px;
    }

    > * + * {
      margin-left: 10px;
    }
  }

  .btn {
    border-radius: 50% !important;
    transform: scale(0.75);
    width: 40px !important;

    &,
    &[disabled],
    &.disabled {
      background-color: #fff;
      border: 0;
      color: #000;
    }

    &:hover {
      background-color: @viking-color-grey-dark;
      color: #fff;
    }

    > span {
      font-size: 14px;
    }
  }

  input {
    border: 0;
    box-shadow: none;
  }
}

.addtocart-component {
  align-items: flex-start;
  border-bottom: 1px solid @viking-color-grayscale-10;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 40px;
  padding-bottom: 40px;

  @media (max-width: @screen-md) {
    flex-direction: column;
  }

  .actions .btn {
    margin-bottom: 0;
  }

  .qty-selector {
    @media (max-width: @screen-md) {
      margin: 0 0 20px;
    }

    text-align: center;
  }
}

.add_to_cart_form .btn.js-add-to-cart {
  padding: 10px 15px;

  &:hover {
    text-decoration: underline;
  }
}

.AddToCart-AddToCartAction {
  display: inline-block;
  padding-top: 0;
}

.quick-view-popup .qty-selector + .btn {
  margin-top: 30px;
}

.product-main-info {
  padding: 0;
}

@media (min-width: @screen-md) {
  .quick-view-popup .addtocart-component {
    clear: none;
    margin-left: 33%;

    .add_to_cart_form {
      padding-left: 20px;
    }
  }

  .product-main-info {
    padding: 80px 30px 30px 60px;
  }
}

.product-details {
  padding-top: 0;

  ul {
    list-style-type: none;
    margin-left: 40px;
    padding-left: 40px;
    position: relative;

    > li::before {
      background: @viking-color-turquoise-mid;
      border-radius: 50%;
      content: '';
      height: 10px;
      left: 0;
      position: absolute;
      transform: translateY(5px);
      width: 10px;
    }
  }
}

.product-details .name .sku,
.product-details-price .name .sku,
.product-details .name .code,
.product-details-price .name .code {
  color: @text-color;
  font-weight: normal;
  padding-left: 0;
  position: initial;
}

.product-details .name .sku {
  padding-right: 10px;
}

.product-details.page-title {
  padding-top: 40px;
}

.product-details.page-title > h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 10px;

  @media (min-width: @screen-md) {
    font-size: 40px;
    line-height: 45px;
  }
}
.product-details.page-title > h3 {
  font-weight: normal;
  line-height: 33px;
  margin-bottom: 20px;

  > span {
    color: @viking-color-grayscale-20 !important;
    font-size: 14px !important;
  }
}

.product-short-description {
  margin-bottom: 20px;
}

.product-usp-list {
  > li {
    margin: 15px 0;
  }

  > li::marker {
    color: @viking-color-turquoise-mid;
  }
}

.product-read-more > a {
  color: @viking-color-turquoise-mid;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.product-details .description,
.product-details-price .description {
  margin: 10px 0;
  padding: 0;
}

.variant-section {
  margin: 0 0 20px;

  .variant-selector {
    display: flex;
    flex-direction: column;

    > div {
      &,
      > * {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }

      + div {
        margin-top: 20px;
      }
    }

    .variant-name {
      color: inherit;
      font-size: 14px;
      font-weight: normal;
      line-height: 30px;
      margin: 0 10px 0 0;
      text-transform: none;
    }

    .selectPriority {
      border-color: @border-color-2;
      text-transform: none;
    }
  }
}

#cboxContent {
  .cart_popup_error_msg {
    color: @viking-signal-red;
  }
}

#colorbox.product-zoom-modal #cboxContent {
  background: transparent !important;
}

.add-to-cart .add-to-cart-item .details {
  font-size: 14px;

  .col-xs-8 {
    width: 100% !important;
  }

  .col-xs-4 {
    display: none;
  }
}

#addToCartLayer .thumb img {
  height: 65px;
  width: 65px;
}

#cboxLoadedContent {
  overflow: hidden !important;
  text-align: center;
}


.productDetailsPageSectionCrossSelling,
.productDetailsPageSectionUpSelling {
  .headline {
    font-size: 22px;
    line-height: 33px;
  }

  .carousel-component {
    margin: 0;
    padding: 0;
  }

  .carousel {
    padding: 0;
  }

  .carousel .owl-item {
    float: left !important;
    padding: 0 !important;

    &:hover {
      padding: 0 !important;
    }

    .item {
      padding: 0 !important;
    }

    .item-name {
      font-weight: bold;
      text-align: center;
    }

    .thumb img {
      max-width: 200px;
    }
  }

  .carousel .owl-item:first-child {
    display: none;
  }

  .carousel .owl-item:not(:first-child) + .owl-item {
    margin-left: 20px;
  }
}

.carousel .item a:hover,
.carousel__component--carousel .item a:hover,
.carousel .carousel__item a:hover,
.carousel__component--carousel .carousel__item a:hover {
  color: currentColor;
}

.carousel .item .thumb img,
.carousel__component--carousel .item .thumb img,
.carousel .carousel__item .thumb img,
.carousel__component--carousel .carousel__item .thumb img,
.carousel .item .carousel__item--thumb img,
.carousel__component--carousel .item .carousel__item--thumb img,
.carousel .carousel__item .carousel__item--thumb img,
.carousel__component--carousel .carousel__item .carousel__item--thumb img {
  width: 110px;
}

.product-image-gallery .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item {
  @media (min-width: @screen-sm) {
    width: 400px !important;
  }

  @media (max-width: @screen-sm) {
    width: calc(~"100vw - 60px") !important;
  }
}

.product-image-gallery .carousel.js-gallery-image {
  .owl-wrapper {
    display: flex !important;
    flex-direction: column;
  }
}

#cboxTitle {
  border-bottom: 0;
}

#cboxLoadedContent {
  margin-top: 55px;
}

.gallery-thumbnails {
  display: none !important;
}

.pdp-videoLink {
  position: relative;

  .pdp-videoIcon {
    left: 0;
    position: absolute;
    right: 0;
    transform: translateY(25%);

    .glyphicon::before {
      background: white;
      border: 5px solid white;
      border-radius: 50%;
      color: @viking-color-primary;
    }
  }
}


.product-accordion-container {
  > .tabs {
    margin: 0;
  }

  .tabs-list {
    display: none;
  }

  input[type="checkbox"] {
    display: none;

    + label {
      cursor: pointer;
      margin-top: 20px;
      white-space: nowrap;

      h3 {
        display: inline-block;
        margin-right: 10px;
      }

      .glyphicon::before {
        top: 0;
      }

      + .product-accordion-item {
        max-height: 0;
        overflow: hidden;
      }
    }

    &:checked + label {
      .glyphicon::before {
        content: "\e113";
      }

      + .product-accordion-item {
        max-height: 100%;
      }
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
  }
}


.tabs {
  margin: 20px 0 40px;

  @media (min-width: @screen-md) {
    .tabs-list li a,
    .tabs-list li.active a,
    .tabs-list li.active a:hover,
    .tabs-list li.active a:focus {
      border-bottom: 0;
    }

    .tabs-list li {
      border: 1px solid transparent;

      a {
        padding: 5px 0;
      }

      &:not(.active) a:hover,
      &:not(.active) a:focus {
        text-decoration: underline;
      }

      + li:before {
        display: none;
      }

      &.active {
        border-color: @viking-color-grayscale-10 @viking-color-grayscale-10 white;
      }
    }

    .tabbody {
      background-color: transparent;
      border-bottom: 0;
      border-top-color: @viking-color-grayscale-10;
      padding: 20px 30px;
    }
  }

  @media (max-width: @screen-md) {
    border-top: 0;

    .content {
      .tabhead {
        border-bottom: 1px solid transparent;
        padding: 20px;
        width: 100%;

        .glyphicon {
          padding: 0;
          text-align: right;
          top: 0;
          transform: translateY(-5px);
        }

        &.active {
          border-bottom: 1px solid transparent;
          border-left: 1px solid @viking-color-grayscale-10;
          border-right: 1px solid @viking-color-grayscale-10;
          border-top: 1px solid @viking-color-grayscale-10;
        }
      }

      .tabbody {
        background-color: transparent;
        border-bottom: 1px solid @viking-color-grayscale-10;
        border-left: 1px solid @viking-color-grayscale-10;
        border-right: 1px solid @viking-color-grayscale-10;
        padding: 0 30px 20px;
      }
    }
  }
}

.enquiryForm {
  margin: 30px 10px;

  .item__list__enquiry .item__toggle {
    display: none;
  }

  .item__list .item__list--header li {
    padding: 7px 0px;

    &.item__info {
      padding-left: 10px;
    }
  }

  .item__list .item__list--header li:last-child {
    text-align: right;
  }

  .item__image {
    padding-left: 0 !important;
  }

  @media (min-width: @screen-md) {
    .item__quantity--enquiry {
      line-height: 60px;
    }
  }
}

.enquiry_headline > h1 {
  font-size: 24px;
  margin: 5px 0 50px;
  text-align: center;
}

.enquiry_sub_headline > h2 {
  font-size: 20px;
  margin: 5px 0 25px;
  text-align: center;
}

@media (max-width: @screen-md) {
  .enquiry_address_form {
    margin-bottom: 40px;
  }
}

.cart__actions,
.cart-header {
  border-bottom: 0 !important;

  .cart-headline {
    font-size: 24px;
  }
}

.cart__actions {
  margin-bottom: 30px;
  padding: 0;
}

.cart__top--totals {
  text-align: center;
}

.save__cart--link,
.new__cart--link,
.cart__quotes--link {
  font-weight: normal;
}

.item__list .item__remove .btn .glyphicon,
.item__list .item__menu .btn .glyphicon {
  color: @viking-color-grayscale-50;
}

.item__list .item__list--header li {
  background-color: transparent;
  border-bottom: 1px solid @viking-color-grayscale-10;
  color: @viking-color-primary;
}

.item__list .item__list--item {
  border-bottom: 0;

  + .item__list--item {
    border-top: 1px solid @viking-color-grayscale-10;
  }
}

.item__list__cart > li:nth-child(n+3) {
  border-top: 1px solid @viking-color-grayscale-10;
}

.item__list .item__name {
  color: #000;
  font-weight: normal;
}

.save__cart--link + .cart-help-feature {
  margin-right: 30px;
}

.alert > .container {
  width: 100%;
}

.enquiry_modal_text {
  margin-bottom: 20px;
}

.searchEmptyPageMiddle-component .content,
.content__empty .content {
  margin: 0 auto;
  width: 50%;

  h2 {
    text-align: center;

    + p {
      margin-top: 20px;
    }
  }

  ul,
  ol {
    list-style-position: inside;

    > li::marker {
      color: @viking-color-primary;
    }
  }
}


.btn.btn-primary,
.btn.btn-default {
  font-weight: normal;

  &:hover {
    text-decoration: underline !important;
  }
}


label {
  color: #000;
  font-weight: normal;
  margin-top: 5px;
  text-transform: none;
}

input[type="text"],
input[type="email"]
{
  height: 40px;
  line-height: 40px;
}

input[type="text"],input[type="email"],
textarea,
select {
  border: 1px solid @viking-color-grayscale-10;
  border-radius: 0;
  &.error{
    .tab-focus();
  }
}


// Hiding the "top" proceed button and other non needed things on the cart page
.cart__top--totals,
.cart-actions--print,
.btn--continue-checkout {
  display: none;
}
.enquiryForm .cart-actions--print,
.cart__actions .btn--continue-checkout {
  display: block;
}


.item__list__enquiry > li {
  list-style: none;
}

.item__quantity--enquiry {
  text-align: right;

  @media (max-width: @screen-md) {
    display: table-cell;
    margin-left: initial;
    padding: initial;
    width: 100%;
  }
}

.addtocart-quantity-label {
  transform: translateY(-18px);
}


// Mini header and footer hack
.minimalpage {
  .navigation:not(.navigation--middle),
  .navigation--middle .nav__left .site-search,
  .navigation--middle .nav__left .mobile-menu,
  .navigation--middle .mobile__nav__row,
  .navigation--middle .nav__right,
  footer > *:not(.footer__bottom) {
    display: none !important;
  }
}

span {
  &.error {
    color:  @brand-danger;
  }
}
