//
// Load core variables
// --------------------------------------------------

@import "../../../lib/ybase-0.1.0/less/ybase.less";
@import "../../../lib/ybase-0.1.0/less/addons.less";
@import "variables.less";

.gallery-thumbnails {
  .item {
    height: 50px;
    overflow: hidden;
    padding-top: 0 !important;
    width: 50px;
  }

  .pdp-videoLink {
    position: relative;

    .pdp-videoIcon {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      > .glyphicon-play {
        background: white;
        padding: 5px;
      }
    }
  }
}

.productDetailsPageSectionCrossSelling-component .owl-carousel,
.productDetailsPageSectionUpSelling-component .owl-carousel {
  .owl-item,
  .item {
    width: 200px !important;
  }
}

#colorbox.product-zoom-modal #cboxContent {
  background: transparent !important;
  text-align: center;
}

// Fix tab width
.tabs-responsive .tabbody .container {
  width: 100% !important;
}

.product-accordion-container {
  > .tabs {
    margin: 0;
  }

  .tabs-list {
    display: none;
  }

  input[type="checkbox"] {
    display: none;

    + label {
      cursor: pointer;
      margin-top: 20px;
      white-space: nowrap;

      h3 {
        display: inline-block;
        margin-right: 10px;
      }

      .glyphicon::before {
        top: 0;
      }

      + .product-accordion-item {
        max-height: 0;
        overflow: hidden;
      }
    }

    &:checked + label {
      .glyphicon::before {
        content: "\e113";
      }

      + .product-accordion-item {
        max-height: 100%;
      }
    }
  }
}
