//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************


@brand-primary: 	#0068b3;
@brand-secondary: 	#929292;

//Viking brand colours
@viking-color-dark:             #07252f;
@viking-color-turquoise-dark:   #005968;
@viking-color-turquoise-mid:    #41a0a9;
@viking-color-turquoise-light:  #97cbd0;
@viking-color-blue-dark:        #00476e;
@viking-color-blue-mid:         #1f7698;
@viking-color-blue-light:       #70c2da;
@viking-color-grey-dark:        #505a69;
//@viking-color-grey-mid:         #8c96a0;
//@viking-color-grey-light:       #c3cdd7;

//Viking signal colours
@viking-signal-red:             #cd1619;
@viking-signal-orange:          #ee7330;
@viking-signal-yellow:          #dcd637;
@viking-signal-green:           #2b8852;

//Viking layout colours
@viking-grey-mid:               #e0e0e0;
@viking-grey-light:             #efefef;

@grayblue: 				#F2F4F7;


//*********Typography Colors*********
@text-color:			#3c3c3c;
@text-color-secondary:	@brand-secondary;
@link-color: 			@viking-color-grey-dark;
@headline-color:		@text-color;

//== Borders
//@border-color: 			#d9d9d9;
@border-color: 			#b3b3b3;
@border-color-2:		#e5e5e5;
@border-color-3:		#cccccc;


//*********form colors*********
@label-color: 			@brand-secondary;

@input-color: 			@text-color;
@input-border-color: 	@border-color-3;
@placeholder-color: 	@brand-secondary;
//** Border color for inputs on focus
@input-border-focus:    @brand-primary;
//** Border color for inputs on error
@input-error:    #fd7b7b;
//** Background color for inputs on error
@input-error-bg:        #fec3c3;
//** color for error text
@input-error-text:        #ED1C24;

@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;


//*********Header Background*********
@header-background-color: 	@viking-grey-light;
@nav-border-color: 			@border-color;


//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: @viking-color-grey-dark;
@meta-nav-color-open: #ffffff;
@meta-nav-hover-color: @brand-secondary;
@meta-nav-border-color: lighten(@viking-color-grey-dark, 10%);
//@meta-nav-background: #003459;
@meta-nav-background: @viking-color-grey-dark;
@meta-nav-hover-background: lighten(@viking-color-grey-dark, 10%);


//*********Search*********
@searchbar-icon-color: @text-color;
@check-box-bg: #ffffff;

//********* icon navigation colors*********
@nav-icon-color: @viking-color-grey-dark;
@nav-icon-color-secondary: @viking-color-blue-dark;
@nav-icon-hover-background: @border-color-2;


//*********Header Navigation-Categories Background*********
//@nav-cat-background: #142939;
@nav-cat-background: @viking-color-grey-dark;
@nav-cat-border: @nav-cat-background;
@nav-cat-hover-background: #1e3d55;
@nav-cat-link-color: #ffffff;
@nav-subcat-color: lighten(@text-color, 20%);
@nav-subcat-title-color: rgba(0,0,0,0.6);
@nav-subcat-background: @header-background-color;
@nav-subcat-border-color: @border-color-2;
@nav-subcat-hover-background: @border-color-2;



//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: @meta-nav-background;
@offcanvas-nav-header-background: #ffffff;
@offcanvas-nav-disabled: @brand-secondary;
@offcanvas-meta-nav-color: #ffffff;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: @meta-nav-background;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color: @meta-nav-background;
@offcanvas-nav-cat-title-color: rgba(0,0,0,0.7);
@offcanvas-nav-cat-background: #ffffff;
@offcanvas-nav-cat-border-color: @border-color-2;
@offcanvas-nav-cat-hover-background: @border-color-2;


//*********Breadcrumbs Colors*********
@breadcrumb-bg: @viking-grey-mid;


//*********Footer colors*********
@footer-background: @viking-grey-mid;
@footer-text-color: #333333;
@footer-border-color: @nav-cat-hover-background;
@copyright-background: @viking-grey-mid;
@copyright-color: @text-color;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-primary, 60%);//#e6f0fa;
@well-quaternary-bg: #f2f2f2;

//Item colors
@item-promo-color: #00A651;
@item-sale-color: #ED1C24;
@item-sale-price-color: @brand-secondary;



//== Tables
@table-2n-line-bg:				#f4f4f4;
@table-head-bg:					@nav-cat-background;
@table-head-color:				#dcdcdc;
@table-head-border-color:		#334b5c;
@table-border-color:			@border-color-2;
@table-expand-bg:				#e4e4e4;
@cart-product-table-head-color:				@table-expand-bg;


//== List
@list-active-bg:                #e6f0fb;


//== Pagination
@pagination-active-color: 		#a6a6a6;
@pagination-font-weight: 		600;

@pagination-disabled-color:     @pagination-active-color;
@pagination-hover-color:		@pagination-active-color;

@pagination-prev-next-hover-bg:		@btn-primary-bg;
@pagination-prev-next-hover-color:	@btn-primary-color;


//*********Button Colors*********

//Primary Button State
@btn-primary-color: #ffffff;
@btn-primary-bg: @viking-color-turquoise-mid;
@btn-primary-border: @viking-color-turquoise-mid;
@btn-primary-hover-color: #ffffff;
@btn-primary-hover-border: @viking-color-turquoise-dark;
@btn-primary-hover-background: @viking-color-turquoise-dark;
@btn-primary-disabled-bg: #8cbbdd;

//Secondary Button State
@btn-default-color: #ffffff;
@btn-default-bg: @brand-secondary;
@btn-default-border: @brand-secondary;
@btn-default-hover-color: @brand-secondary;
@btn-default-hover-border: @brand-secondary;
@btn-default-hover-background: #ffffff;
@btn-default-disabled-bg: @border-color-3;

//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Modal Colors*********
@modal-close-btn-color: #999999;

//*********Account Colors*********
@account-subheadline-bg: @header-background-color;

//*********checkout*********
@steps-color: @text-color;
@steps-background: @header-background-color;
@steps-color-active: @steps-color;
@steps-background-active: #e4e4e4;
@steps-border-active: @border-color-3;
@checkout-icon: @border-color-3;
@checkout-list-head-bg: @table-head-bg;
@checkout-list-head-color: #ffffff;
@checkout-list-head-border: @table-head-bg;


//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;


// fonts
@font-family-sans-serif:  Verdana, Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-base:        @font-family-sans-serif;
@font-size-base:          14px;

@font-size-h3:              21px;
