<div class="lifter lifter_introduction">
<h3>Lifter</h3>
<p>The Osudio Lifter extension can prevent essential and/or project data to run. You can configure this behavior by setting the following hybris properties.</p>

<h4>General settings</h4>
<em>You can define defaults that will be used when no extension specific setting is configured.</em>
<code>
lifter.init.essentialdata.allow=true<br/>
lifter.init.projectdata.allow=false<br/>
</code>
<code>
lifter.update.essentialdata.allow=false<br/>
lifter.update.projectdata.allow=false<br/>
</code>

<h4>Extension specific settings</h4>
<em>If an extension specific settings is configured it will override the general settings.</em>
<code>
{extensionname}.lifter.init.essentialdata.allow=true<br/>
{extensionname}.lifter.update.essentialdata.allow=true<br/>
</code>
<code>
{extensionname}.lifter.init.projectdata.allow=true<br/>
{extensionname}.lifter.update.projectdata.allow=true<br/>
</code>

<h4>Fallback</h4>
<em>Extension settings override general settings, by default lifter prevents projectdata on init and 
both essential- and projectdata on update. Please note that {extensionname} needs to be replaced with the 
actual name of the extension.</em>
<code>
{extensionname}.lifter.init.essentialdata.allow &#8674; lifter.init.essentialdata.allow &#8674; true<br/>
</code>
<code>
{extensionname}.lifter.init.projectdata.allow &#8674; lifter.init.projectdata.allow &#8674; false<br/>
</code>
<code>
{extensionname}.lifter.update.essentialdata.allow &#8674; lifter.update.essentialdata.allow &#8674; false<br/>
</code>
<code>
{extensionname}.lifter.update.projectdata.allow &#8674; lifter.update.projectdata.allow &#8674; false<br/>
</code>

<h4>Annotation or extension manager</h4>
<em>Hybris allows you to run essential-/projectdata in two ways. Wither through the extension's manager or though annotated classes. 
If you need to be very specific lifter also allows you to only whitelist the annotation or extension data. This is the most specific configuration option and has the highest precedence.</em>
<code>
{extensionname}.lifter.<strong>annotation</strong>.init.essentialdata.allow=true
{extensionname}.lifter.<strong>extension</strong>.init.projectdata.allow=true
</code>
</div>

