//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb-section{
	background: @breadcrumb-bg;
  	.full-width-padding();

	.breadcrumb{
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		margin: 0;
	}
}

.breadcrumb {
	padding: 10px 5px;
}
