.simpleimagecomponent{
	a{
		display: block;
		img{
			width: 100%;
			height: auto;
		}
	}
}


.banner-component{
	width: 100%;
	a{
		.clearfix;
		display: block;
		color: @text-color;
		text-decoration: none;
	}

	.title{
		font-weight: bold;
	}
	.thumb{
		padding: (@grid-gutter-width/2) 0;
		img{
			width: 100%;
			height: auto;
		}
	}

}


.simple-banner-component,
.banner__component {

  @media (max-width: @screen-xs-max) {
    .row();
  }

	a{
		display: block;
	}

	img{
		width: 100%;
		height: auto;
	}
}

.image-map-component{
	img{
		width: 100%;
		height: auto;
	}
}


.cms-image-component{
	img{
		width: 100%;
		height: auto;
	}
}


.tabs{
	//margin: (@grid-gutter-width*3) 0 0;
	margin: 10px 0 0;
	@media (max-width: @screen-sm-max) {
		border-top: 1px solid @border-color-3;
	}

	.tabs-list{
		.nav;
		.nav-tabs;

		display: table;
		margin: 0 auto;
		border: 0;

		.current-info{
			.sr-only;
		}

		li{
			padding: 0 @grid-gutter-width;

			a{
				text-transform: uppercase;
				color: @link-color;
				padding: 0 0 5px 0;
				border: 0;
				border-bottom: 4px solid transparent;

				&:focus,
				&:hover {
					cursor: pointer;
					background-color: transparent;
				}
			}

			+ li:before {
				content: "";
				position: absolute;
				height: 15px;
				left: 0;
				top: 2px;
				border-left: 1px solid @border-color-3;
			}
		}

		li.active{
			a,
			a:hover,
			a:focus{
				color: @text-color;
				font-weight: bold;
				border: 0;
				border-bottom: 4px solid @viking-color-grey-dark;
			}
		}
	}
	.tabhead{
		.hidden-xs;
		.hidden-sm;
		height: 75px;
		display: table;

		& + .tabbody{
			display: none !important;
		}


		&.active{
			font-weight: bold;

			& + .tabbody{
				display: block !important;
			}
		}

		a {
			padding: 0 (@grid-gutter-width/2);
			color: inherit;
			line-height: 1;
			text-decoration: none;
			display: table-cell;
			width: 100%;
			vertical-align: middle;

			@media (max-width: @screen-md) {
			  padding-left: 20px;
			}
		}


		.glyphicon{
			padding: 0 (@grid-gutter-width/2);
			.glyphicon-chevron-right;
			display: table-cell;
			vertical-align: middle;

		  	@media (max-width: @screen-md) {
			  padding-right: 20px;
			}
		}

		&.active{
			.glyphicon{
				.glyphicon-chevron-down;
			}
		}




	}
	.tabbody{
		border-bottom:1px solid @border-color-3;
		padding: 40px 30px;
		background-color: @table-2n-line-bg;

	  @media (min-width: @screen-md-min) {
		border-top:1px solid @border-color-3;

		.container {
			padding-left: 30px;
			padding-right: 30px;
		}
	  }
	}


	&.tabs-responsive{
		.tabs-list{
			.hidden-xs;
			.hidden-sm;

		}

		.tabhead{
			text-transform: uppercase;
			display: none !important;
			border-bottom-color: @border-color-3;

			&.active{
				border-bottom: 4px solid @brand-primary;
			}

			@media (max-width: @screen-sm-max) {
				display: table !important;
			}
		}


	}


	&.tabs-accordion{
		.tabs-list{
			display: none !important;

		}

		.tabhead{
			display: table !important;
			margin-bottom: 20px;
		}


	}
}






.languagecurrencycomponent{
	.pull-right;

	form{
		display: inline-block;

		+ form{
			margin-left:(@grid-gutter-width/2) ;
		}
	}
}


.ui-helper-hidden-accessible{
	.sr-only;
}

















// badges

.thumb{
	position: relative;
	.badges{
		position: absolute;
		top: (@grid-gutter-width/2);
		left: (@grid-gutter-width/2);
		right: (@grid-gutter-width/2);
		bottom: (@grid-gutter-width/2);
		overflow: hidden;
		.badge{
			float: left;
   			clear: left;
   			margin-bottom: (@grid-gutter-width/2);

		}
	}
}










.com-space{
	& > *{
		padding: (@grid-gutter-width/2) 0;
	}
}








.flex-column{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    & > *{
    	-webkit-box-flex: 1;
		-moz-box-flex: 1;
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
    }
}









.product-classifications{

	.headline{
		font-weight: bold;
    padding: @grid-gutter-width/2;
	}

	table.table{
		td.attrib{
			width: 50%;
		}
	}
}


.no-space{

  	padding: 0 !important;

	.yCmsComponent{
		padding: 0 !important;
	}
}


.simple-responsive-banner-component,
.banner__component--responsive {

	a {
		display: block;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.error-page{
	margin-bottom: 40px;
	text-align: center;
}

// back link

.back-link {
  padding: @grid-gutter-width 0px;
  .full-width-padding();

  &.border {
    border-bottom: 1px solid @border-color-3;
  }

  button {
    padding: 0;
  }

  .glyphicon {
    border-right: 1px solid @border-color-3;
    border-radius: 0;
    padding-right: 10px;
    line-height: 16px;
    top: -2px;
  }

  .label {
    .page-headline();
    padding-left: 10px;
    white-space: normal;
  }

  &.product-details .label {
    font-weight: 600;
  }
}


/////////////////////////////////////////////////
//                 accordion                   //
/////////////////////////////////////////////////
.accordion {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;

  .panel-group {
    margin: 0;
  }

  .panel {
    border: none;
    .box-shadow(none);

    .panel-heading {
      background-color: lighten(@accordion-bg, 95%);
      border-bottom: 1px solid #ffffff;
      position: relative;
      padding: 0;

      .accordion-toggle {
        display: block;
        color: @text-color;
        padding: @grid-gutter-width 30px;

        &:before {
          .glyphicon();
        }
        .glyphicon-chevron-up();

        &.collapsed {
          .glyphicon-chevron-down();
        }
      }
      .accordion-lnk {
        position: absolute;
        left: 15 + @grid-gutter-width*2;
        top: @grid-gutter-width;

          &.no-subs {
            display: block;
            position: static;
            padding: @grid-gutter-width;
          }
      }
    }

    .panel-collapse {
      .accordion-bg(10);
    }

    .panel-heading + .panel-collapse > .panel-body {
      border: none;
      padding: 0;
    }
  }
}


/****** Custom Cms News Component *****/

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.panel-group {
	margin-bottom: 0px !important;
	margin-top: 10px !important;
}

.newestNews{
	width:100%;
	background:#e0e0e0;
	padding:10px;
	margin:10px 0px;
	.latestNews{
		font-size:16px;
		font-weight:700;
	}
}

.latestNews{
	ul{
		li{
			margin-top: 7px;
			font-size: 16px;
		}
	}
}


/******! Custom Cms News Component *****/

