footer {
  padding-top: 50px;
  //margin-top: 40px;
  background: @footer-background;
  color: @footer-text-color;
  font-weight: 300;
}

.footer__top {
  padding-bottom: 20px;

  @media (max-width: @screen-sm) {
    padding-bottom: 10px;
  }

  .footer__nav--container {

    @media (max-width: @screen-sm) {
      margin-bottom: 25px;
      text-align: center;
    }

    .footer__nav--links {
      padding-left: 0px;
      width: 100%;
      margin: 0px;
      list-style: none;

      .footer__link {
        margin-top: 10px;
      }

      a {
        color: @footer-text-color;
        font-size: 14px;
      }
    }
  }
}

.footer__left {
  .full-width-padding();

  h3.title {
      font-size: 18px;
      margin: 4px 0 20px 0;
      text-transform: uppercase;
  }
}

.footer__right {
  .full-width-padding();
  @media (max-width: @screen-md) {
    border-top: 1px solid @footer-border-color;
    padding-top: 30px;
    margin-top: 25px;
  }

  .footer__dropdown {
      margin-top: 4px;

    select.form-control {
      padding: 2px 13px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .form-control {
      cursor: pointer;
      background-color: #ffffff;
      color: @footer-text-color;
      padding: 7px 10px;
      height: 26px;
      line-height: 20px;
      font-size: 14px;

      option {
        background-color: @footer-background;
      }

      &:focus::-ms-value {
        background-color: @footer-background;
      }
    }
  }
}

.footer__copyright {
  background: @copyright-background;
  padding: 25px 0;
  color: @copyright-color;
  text-align: center;

  &:before {
    clear: both;
    content: "";
    display: block;
    height: 1px;
    max-width: 754px;
    background: #b3b3b3;
    margin: 0 auto 40px;
  }

    .site-footer__logo {
        margin-bottom: 25px;

        img {
            height: 97px;
            width: auto;
        }
    }
    .site-footer__standout {
        font-size: 18px;
        line-height: 1.5em;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .site-footer__company-info {
        margin-bottom: 10px;

        a {
            color: #3c3c3c;
        }
        a:hover {
            text-decoration: underline;
        }

    }
}

@media (min-width: @screen-sm-min) {
    .footer__copyright {
        .site-footer__company-info {
            .company-info__line::after {
                content: "-";
                display: inline-block;
                margin-left: 10px;
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: @screen-xs-max) {
    .footer__copyright {
        .site-footer__standout {
            font-size: 16px;
        }
        .site-footer__company-info {
            .company-info__line,
            .company-info__line-end {
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}
