.login-page__headline,
.user-register__headline{
	.page-headline();
}

.login-left-content-slot{
    margin-right: 10px;
  	margin-left: 30px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.login-right-content-slot{
    margin-right: 30px;
  	margin-left: 10px;

  	@media (max-width: @screen-sm-max) {
      margin-left: 20px;
      margin-right: 20px;
  	}
}

.forgotten-password{
	form & {
    margin-bottom: 25px;
  }

  &.alert {
    padding-left: 0;
    padding-right: 0;
  }

	.description{
      margin-bottom: (@grid-gutter-width/2);
	}

  #colorbox & .btn-primary {
    margin-top: 35px;
  }
}

.register-form-action, .login-form-action {
  margin-top: 35px;
}

.forgotten-password + .login-form-action {
  margin-top: 0;
}

.alert-dismissable,
.alert-dismissible  {
  .close {
	right: 0;
  }
}

.register__container {
  .full-width-padding();
}

.page-login {
	background: url('../images/viking-login-bg.jpg') center center;
	background-size: cover;

	.login-mainHeader {
		background: @header-background-color;
	}

	h1 {
		font-size: 14px;
		margin: 22px 10px 20px 8px;

		@media (max-width: @screen-xs-max) {
			font-size: 12px;
			margin: 23px 5px 20px 5px;
		}
	}

	.login-site-logo {
		float: left;
		padding: 8px 10px 5px;
		img {
			height: auto;
	    	width: 40px;
		}
	}

	.main__inner-wrapper {
		height: 100vh;
	}

	#cboxLoadedContent {
		max-height: 400px!important;
	}

	.login-section {
		margin-top: 0;
		padding: 12px 20px 20px;

		@media (max-width: @screen-xs-max) {
			padding: 20px;
		}
	}

	.flex-login-container {
		height: 100%;
	    padding: 0;
	    margin: 0;
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.login-left-content-component {
		background: #ffffff;
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.40);
		max-width: 96%;
		min-width: 310px;
		//padding: 20px;

		@media (min-width: @screen-sm-min) {
			min-width: 420px;
		}
	}

	.login-page__headline,
	.user-register__headline {
		padding: 0 0 15px;
	}
}

@media (max-width: @screen-xs-max) {
	.login-form-action {
		.btn-default {
          margin-top: @grid-gutter-width * 1.5;
		}
	}

	.login-section,
  	.register-section {

		.forgotten-password {
          margin-bottom: 35px;
		}
	}
}
