@primary-color: #6f6f6f;
@background-color: #E8E8E8;

.manuals-table {
  .subsection, .bulletins {
    color: @primary-color;
    &:hover {
      color: #000;
      background-color: @background-color;
      cursor: pointer;
    }
  }

  .manuals-section-header {
    background-color: @background-color;
    font-weight: bold;
    border: 1px solid;
    border-color: #000;
  }

  .checklist_header{
    font-weight: bold;
  }

  td {
    padding: 5px 10px;
  }

  .glyphicon.glyphicon-red-dot:before {
    content: "\25cf";
    font-size: 1.5em;
    color: red;
    position: relative;
    top: -3px;
  }
}

.bulletinsaccepted{
  padding: 5px 5px;
  color: @primary-color;
  &:hover {
    color: #000;
    background-color: @background-color;
    cursor: pointer;
  }
}

.panel {
  margin-bottom: 20px;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}


.panel-default > .panel-heading {
  background-color: @background-color;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}

.panel-heading .accordion-toggle-out:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  color: grey;
}


