.image-gallery__image{
	cursor: pointer;
}

.image-gallery__zoom-icon{
	font-size: 20px;
	opacity: 0.5;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
}

.page-productDetails {
  .carousel {
	@media (min-width: @screen-sm){
	  padding-left: 30px;
	  padding-right: 30px;
	}
  }
}

.product-details {
	padding-top: 20px;
}

.product-details,
.product-details-price{
  margin-bottom: 10px;

  @media (max-width: @screen-xs-max){
	padding: 0;
  }

  .name {
    .page-headline();
	font-size: 21px;
    padding: 0;

    .sku{
        font-size: 18px;
        line-height: 18px;
        color: @text-color-secondary;
        position: relative;
        //padding-left: 20px;
        font-weight: 400;

        /*&:before {
            border-left: 1px solid @border-color-2;
            content: "";
            height: 14px;
            position: absolute;
            top: 7px;
            left: 10px;
        }*/
    }

    .code {
        font-size: 18px;
        line-height: 18px;
        padding-left: 5px;
    }
  }

  .promotion {
      color: @item-promo-color;
  }

  .description{
      padding: (@grid-gutter-width/2) 0 25px;
  }

  .price{
      font-size: 20px;
      font-weight: bold;
	  margin: 12px 0 0 0;
  }

  .stock-status{
      font-weight: 300;
  }
}

.product-stock-status {
	color: #929292;
	font-size: 18px;
	line-height: 20px;
	padding-top: 2px;

	.glyphicon {
		padding-right: 6px;
		top: 3px;
	}
	.stock-selector {
		border-radius: 2px;
		float: left;
		height: 20px;
		margin-left: 10px;
		width: 20px;
	}
}

/*@media (max-width: @screen-md-max) {
	.product-details,
	.product-details-price {
		.description{
			border-bottom: 1px solid @border-color-3;
		}
	}
}*/

.product-main-img {
	margin-top: 30px;
	padding: 30px;

	.gallery-carousel .owl-item {
		border: 1px solid #cccccc;
	}
}

.product-main-info {
 	padding: 30px;

	@media (min-width: @screen-md-min) {
		padding: 30px 30px 30px 60px;
	}

  .product-details {
	padding: 0;
  }
}

.variant-section{
	margin-bottom: @grid-gutter-width + @grid-gutter-width/2;

	.variant-selector{
		.variant-name{
			font-size: 13px;
			font-weight: 600;
			color: @label-color;
			text-transform: uppercase;
			margin-top: 15px;
			margin-bottom: 5px;

			.variant-selected{
				font-weight: normal;
				text-transform: none;
			}
		}

		.variant-list{
			.list-unstyled;
			.clearfix;
			margin-left: -(@grid-gutter-width);

			li{
				float: left;
				margin: 0 0 0 (@grid-gutter-width);
				a,span{
					display: block;
					height: @input-height-base;
					width: @input-height-base;
					line-height: @input-height-base;
					text-align: center;
					text-transform: uppercase;
					border:1px solid @input-border-color;
					background: #fff;
					color: @text-color;
					text-decoration: none;

					@media (max-width: @screen-sm-max) {
						height: @input-height-large;
						width: @input-height-large;
						line-height: @input-height-large;
					}


					img{
						width: 100%;
						height: auto;
						vertical-align: top;
						border:1px solid transparent;
					}
				}



				&:hover a,
				&.active a{
					background: @brand-primary;
					.box-shadow(~"inset 0 0  0 1px #fff");
					border:1px solid @brand-primary;
					color: #fff;


					img{
						border:1px solid #fff;
					}
				}


				&.disabled{
					span{
						color:#999;
						cursor: not-allowed;
					}
				}
			}
		}
		.variant-select{
			margin: (@grid-gutter-width/2) 0 0;
		}
	}
}


.rating{
	.clearfix;
	padding-bottom: 8px;

	.rating-stars{
		margin: 0 5px 0 0;
		padding: 3px 0 1px;
	    position: relative;

		@media (max-width: @screen-sm-max) {
			font-size: @font-size-large;
			float: none;
			.clearfix;
		}

	  	.greenStars{
		  position: absolute;
		  overflow: hidden;
		  top: 3px;
		  left: 0;
		  white-space: nowrap;
		  width: 0;
		}

		span{
			color: #dee3e8;
			margin: 0 0.1em;

            overflow: hidden;


			&.fh{
				width: 0.47em;
				margin-right: 0;
                .pull-left();
			}

			&.lh{
				width: 0.5em;
				text-indent: -0.44em;
				margin-left: 0;
                .pull-left();
			}

			&.active{
				color: @brand-primary;
			}
		}
	}

	&.rating-set{
		.rating-stars{
			cursor: pointer;
            display: inline-block;
		}
	}


	a{
		font-size: 13px;
		position: relative;
		margin-left: 10px;
		padding-left: 10px;

		&:before {
			border-left: 1px solid @border-color-3;
			content: "";
			height: 19px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}


.tabs-responsive{

  .tab-container {
	float: none;
	padding: 0;
  }

	@media (max-width: @screen-sm-max) {
		.tabhead{
			border-bottom: 1px solid @grayblue;

		}

	}
}

.tab-review{
	.review-pagination-bar{
		margin: (@grid-gutter-width/2) 0;
		.clearfix;
		.right{
			float: right;
			.pager{
				float: left;
				margin: 0 (@grid-gutter-width/2);
			}

		}
	}


	.review-list{
		.list-unstyled;
		.review-entry{
			margin: (@grid-gutter-width/2) 0;

			.title{
				font-weight:bold;
			}

			.content{

			}

			.autor{

				color:@gray-light;

			}

			.date{

			}

		}
	}


	.write-review{
		display: none;
	}
}












#AddToCart-PickUpInStoreAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}
.AddToCart-PickUpInStoreAction {
    margin-top: @grid-gutter-width/2;
}

.AddToCart-ShareOnSocialNetworkAction {
	display: none;
	margin-top: @grid-gutter-width;
}


#AddToCart-AddToCartAction{
	.make-sm-column(6);
	.make-md-column(12);
	margin-top: 20px;
}
.AddToCart-AddToCartAction {
	padding-top: 30px;

	@media (max-width: @screen-xs-max) {
		text-align: center;
	}
}

#AddToCart-ShareOnSocialNetworkAction{
	.make-xs-column(12);
	margin-top: 30px;
}
