.pageType-CategoryPage .map {
	img {
	  min-width: 100%;
	}
}

.searchEmptyPageMiddle-component {
  .full-width-padding();
}

.product__list--wrapper {
  @media (min-width: @screen-md-min) {
	padding: 0;
	margin: 0 0 0 -20px;
  }

  .pagination-wrap {
	@media (min-width: @screen-sm) {
	  padding-right: 0;
	}
  }
}

.searchSpellingSuggestionPrompt {
  padding-left: 20px;
  padding-right: 20px;
}

.pagination-bar {
  @media (max-width: @screen-sm) {
	.sort-refine-bar {
	  button {
		padding-left: 20px;
		padding-right: 20px;
	  }
	}
  }
}

.results {
  h1 {
    .page-headline();
    margin-top: @grid-gutter-width;
    padding-left: @grid-gutter-width;
    padding-bottom: 0;
  }
}

.product__listing {
  .list-unstyled;

	.product__listing--promo {

	  .text-success;
	  margin-bottom: (@grid-gutter-width/2);

	  @media (min-width: @screen-md) {
		padding-right: 20px;
		margin: 0 -10px;
	  }
	}

	.product__list--price-panel {
	  text-align: right;
	}

	.product__list--name {
	  display: block;
	  text-transform: uppercase;
	  font-weight: bold;
	  margin: 0 0 (@grid-gutter-width/2) 106px;
	  color: inherit;
	}

	.product__listing--description {
	  .hidden-xs;
	  margin: 0 210px 0 106px;
	}

	.addtocart {
	  clear: both;
	  text-align: center;
	  padding: (@grid-gutter-width/2) 0 0 0;

	  button {
		margin-bottom: (@grid-gutter-width/4);
		visibility: hidden;
	  }

	  @media (min-width: @screen-md-min) {


		.pickup-in-store-available {
		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			width: 49%;
			display: inline-block;
			float: left;
		  }
		}
	  }

	  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

		.pickup-in-store-available {
		  margin: 0 -(@grid-gutter-width/5);

		  .ProductGridComponent-ListPickUpInStoreAction,
		  .ProductGridComponent-ListAddToCartAction,
		  .SearchResultsList-ListPickUpInStoreAction,
		  .SearchResultsList-ListAddToCartAction,
		  .SearchResultsGrid-ListPickUpInStoreAction,
		  .SearchResultsGrid-ListAddToCartAction {
			padding: 0 (@grid-gutter-width/6);
		  }
		}
	  }
	}

	&.product__list {
	  .product__list--item {
		padding: @grid-gutter-width 30px;
		border-top: 1px solid @border-color;

		&:nth-of-type(2n) {
		  background-color: @table-2n-line-bg;
		}

		@media (max-width: @screen-md) {
		  padding-left: 20px;
		  padding-right: 20px;
		}
	  }

	  .product__list--thumb {
		float: left;
		margin-right: (@grid-gutter-width/2);
		display: block;
		  &> img {
			  width: 96px;
		  }
	  }

	  .product__list--price-panel {
		float: right;
		width: 200px;
	  }

	  .ProductListComponent-ListPickUpInStoreAction,
	  .ProductListComponent-ListAddToCartAction,
	  .SearchResultsList-ListPickUpInStoreAction,
	  .SearchResultsList-ListAddToCartAction {
		.make-xs-column(6);
		.make-sm-column(4);
		.make-sm-column-push(4);
	  }

	  .ProductListComponent-ListOrderFormAction,
	  .SearchResultsList-ListOrderFormAction {
		.make-xs-column(6);
		.make-xs-column-push(6);
		.make-sm-column(4);
		.make-sm-column-push(0);
	  }

	  @media (max-width: @screen-xs-max) {
		.product__list--price-panel {
		  text-align: left;
		  float: none;
		  margin-left: 106px;
		  width: auto;
		}
	  }
	}

	&.product__grid {
	  .flex-display(flex);
	  .flex-wrap(wrap);

	  .product-item {
		.make-xs-column(5.2);
		.make-sm-column(2.6);
		.make-md-column(2.6);
		.make-lg-column(2.6);

		padding: @grid-gutter-width/2;
		.flex-display(flex);
		.flex-direction(column);

		 border: 1px solid #cccccc;
		 box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.18);
		 margin:0px 20px 20px 0px;
		 cursor:pointer;

		// fix for Safari
		&:first-child {
		  margin-left: -1px;
		}

		&:hover{
			border: 1px solid #999999;
			box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
		}


	  }

	  .thumb {
		display: block;
		margin-bottom: (@grid-gutter-width/2);
		text-align: center;
		height: 165px;
		overflow: hidden;

		img {
		  width: 100%;
		  height: auto;
		  max-height: 150px;
		  max-width: 150px;
		  object-fit: contain;
		}

	  }

	  .details {
		text-align: center;
		margin: 0 auto;
		width : 100%;
  		overflow:hidden;
  		display:inline-block;
  		text-overflow: ellipsis;
  		white-space: nowrap;
		.flex(1 0 auto);

		.name {
		  margin: 0;
		  font-weight: 600;
		  font-size: 16px;
		  padding-bottom: (@grid-gutter-width/2);
		  height: 70px;
		  overflow: hidden;
		  color: @headline-color;
		  display: block;
		  width: 100%;
		  float:left;
		  text-align:left;
		  white-space: normal;
		}

		.price {
		  font-size: 18px;
		}

		.promo {
		  color: @item-promo-color;
		  font-size: 14px;
		  font-weight: bold;
		}
	  }

	  // Clearfixes
	  @media (min-width: @screen-sm-min) {
		.product-item:nth-child(4n+1) {
		  clear: both;
		}
	  }

	  @media (max-width: @screen-xs-max) {
		.product-item:nth-child(2n+1) {
		  clear: both;
		}
	  }
	}
  }



.search-empty {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  .headline {
	margin-bottom: 20px;
  }


  .search-suggestions {
	margin-bottom: 20px;
  }
}

.searchEmptyPageMiddle {
	padding: 10px 15px 50px;
}



//Product Category Page styling

.product-category-page{
    .product-categories{
        .refine-bar{
            padding-bottom:(@grid-gutter-width/2);
            padding-top:(@grid-gutter-width/2);
        }
      	.pcp-prod,
      	.pcp-banner{
          	padding-left: 0;
          	padding-right: 0;
      	}

        .pcp-banner .simple-responsive-banner-component,
		.pcp-banner .banner__component--responsive {
            margin-right: -20px;
        }

      	.pcp-banner{
          	padding-top:(@grid-gutter-width/2);
      	}
    }
}

@media (min-width: @screen-md) {
		.search-list-page-right-result-list-slot{
				margin-left: -20px;
				margin-top: -20px;
		}

		.search-list-page-right-result-list-component{
				padding-left: 20px;
		}

		.product-list-right-slot{
				margin-left: -20px;
		}

		.product-list-right-component{
				margin-left: 0;
				padding-top: 20px;
		}

		.product-list-right-component .pagination-bar{
				margin-top: 0;
		}
}

.search-results-highlight {
	font-weight: bold;
}
.empty-results {
	padding: 25px 0 80px;
}
