@desktop:    ~"only screen and (min-width: 640px)";

ul.technician-overview-list, ul.credit-overview-list{
    li{
        div.number-responsive{
            p{
                overflow: hidden;
                width: 100%;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        div.credit-responsive{
            @media @desktop {
                p {
                    width: 40px;
                    span {
                        float: right;
                    }
                }
            }
        }
        div.status-responsive{
            @media @desktop {
                p {
                    width: 60px;
                    text-align:center;
                }
            }
        }
    }
}
@media @desktop {
    .text-center-desktop {
        text-align: center;
    }
}

div.sort-list{
    display: inline-block;
    height: 22px;
    font-size: .9em;
    overflow: hidden;
    cursor:pointer;
    padding-left:5px;

    span.sort-up{
        position: relative;
        display: block;
        color: #ccc;
    }

    span.sort-down{
        position: relative;
        top: -2px;
        cursor: pointer;
        color: #ccc;
    }

    span.sort-up.active, span.sort-down.active{
        color: #343434;
    }

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
