.vessel-search {
    h2 {
        margin-top: 45px;
    }
    .btn-primary {
        margin-right: 10px;
    }
    .vessel-header,
    .vessel-footer {
        padding-top: 15px;

        .form-control {
            height: 45px;
            margin-bottom: 30px;
        }
        .custom-label {
            margin: 12px 0;
        }

        .btn {
            margin-bottom: 30px;
        }

        .form-group {
            .clearfix;
            clear: both;

            .label-input {
                padding-top: 7px;
            }

            .form-control {
                height: 35px;
                margin-bottom: 0;
                width: 80%;
            }

            label {
                font-size: 14px;
                font-weight: normal;
                text-align: right;
                text-transform: none;
            }
        }
    }
    .vessel-header-frame {
        border: 1px solid #333333;
        float: left;
        margin-top: 10px;
        padding: 10px 0;
        width: 100%;
    }
}

.vessel-body {
    padding: 30px 0;
}

.vessel-results-header {
    clear: both;
    font-size: 18px;
    .vessel-results-header-title {
        padding: 20px 0;

        .vessel-results-header__link {
            font-size: 14px;
            margin-left: 40px;
            outline: none;

            @media (max-width: @screen-sm-max) {
                display: block;
                margin-left: 0;
                margin-top: 5px;
            }
        }
    }
    .vessel-results-header__actions {
        font-size: 21px;
        padding: 8px 0 0;

        a, .vessel-results-header__icon  {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;

            &:hover, &.hover {
                background: rgba(179,179,179,0.5);
                border-radius: 2px;
            }
        }
        .glyphicon {
            padding: 12px 10px 15px 10px;
        }
    }
    #search-input-container {
        background: rgba(179,179,179,0.5);
        display: none;
        margin: -10px -5px 10px;
        opacity: 0;
        padding: 15px;
        transition: opacity 0.5s;

        &.open {
            display: block;
            opacity: 1;
        }

        #searchInput {
            outline: none;
        }
    }
}
ul.vessel-results-list {
    margin: 0;
    padding-left: 0;

    &:last-of-type {
        margin: 0 0 50px 0;
    }

    li {
        border-bottom: 1px solid #e5e5e5;
        clear: both;
        float: left;
        list-style: none;
        width: 100%;

        a {
            display: block;
            float: left;
            padding: 15px 10px;
            width: 100%;

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
    li.vessel-results-list-header {
        background-color: #f7f7f7;
        border-top: 1px solid #e5e5e5;
        padding: 15px 10px;
    }

    &.service-list li {
        padding: 18px 10px;

        &:hover {
            background-color: #f0f0f0;
        }

        a {
            display: inline;
            float: none;
            padding: 5px 10px;

            &:hover {
                background-color: none;
            }
        }
        p {
            margin: 0;
        }
        .glyphicon {
            font-size: 20px;
            @media (max-width: @screen-xs-max) {
                padding: 8px 0;
            }
        }
    }

    .vessel-name {
        span {
            display: block;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }
}

// icons
.vessel-search {
    .large-vessel-icon .glyphicon {
        font-size: 28px;
    }
    .glyphicon-remove-circle {
        color: red;
    }
    .glyphicon-ok-circle {
        color: green;
    }
    .glyphicon-time {
        color: orange;
    }
    .vessel-col-padding {
        padding-left: 45px;
        @media (max-width: @screen-xs-max) {
            padding-left: 10px;
        }
    }
    &.vessel-detail-search {
        .vessel-col-padding {
            padding-left: 20px;
            @media (max-width: @screen-xs-max) {
                padding-left: 10px;
            }
        }
    }
}

.customer-portal-vessel-search {

    .vessel-results-list {
        li.vessel-results-list-header > div,
        li a > div {
            margin-bottom: 4px;
        }

        li.status-red {
            background-color: #e0e0e0;
            position: relative;

            .vessel-name {
                color: red;
            }
        }
        @media (min-width: @screen-md-min) {
            li.status-red {
                &:before {
                    content: "\e101";
                    color: red;
                    font-family: 'Glyphicons Halflings';
                    font-size: 25px;
                    margin: 10px 0 20px -40px;
                    position: absolute;
                }
            }

            &.service-list li.status-red {
                &:before {
                    margin: 0 0 20px -40px;
                }
            }
        }

        .vessel-category .vessel-category-name {
            font-size: 22px;
            margin-left: 10px;
        }
    }
    .user-delete-icon {
        font-size: 18px;
    }
    @media (min-width: @screen-sm-min) {
        .actions-label,
        .user-delete-icon,
        .vessel-footer .custom-label {
            text-align: right;
        }
    }

}

.vessel-detail-search {
    .vessel-header h3 {
        margin-top: 8px;
    }
}

form#vessel {
    margin-bottom: 0;
}
.vessel-form {
    padding: 10px;

    label.custom-label {
        text-transform: none;
    }
}

.vessel-modal {
    min-width: 400px;

    @media (max-width: @screen-xs-max) {
        min-width: 310px;
    }
}

.vesselModal {
    .modal-title {
        text-align: center;
    }
    .modal-footer {
        background-color: @viking-color-grey-dark;
    }
}
#cboxLoadedContent {
    .modal-footer {
        padding: 15px 15px 0 15px;
    }
}

.add-equipment-header {
    padding-top: 15px;

    .form-control {
        height: 45px;
        margin-bottom: 30px;
    }
    .custom-label {
        margin: 12px 0;
    }

    .form-group {
        .clearfix;
        clear: both;

        .label-input {
            padding-top: 7px;
        }

        .form-control {
            height: 35px;
            margin-bottom: 0;
            width: 80%;
        }

        label {
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            text-transform: none;
        }
    }
}
